body {
    margin: 0;
    font-family: 'Arsenal', sans-serif;
    text-align: left; /* Alinea todo el texto hacia la izquierda */
}

header {
    background-color: #074434;
    color: #FFF6E7;
    padding: 10px 20px;
    z-index: 1000;
}

.logo-container img {
    width: 120px;
    height: auto;
}

.menu-icon {
    font-size: 20px;
    color: #FFF6E7;
    cursor: pointer;
}

.nav-list {
    background-color: #074434;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-list a {
    text-decoration: none;
    color: #FFF6E7;
    font-weight: bold;
}

.banner-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    padding: 20px;
    text-align: left; /* Alinea el texto hacia la izquierda en las secciones */
}

.footer {
    background-color: #074434;
    color: #FFF6E7;
    text-align: center;
    padding: 20px;
}

.footer img {
    width: 80px;
    height: auto;
}

.youtube-button {
    background-color: #FFF6E7;
    color: #074434;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.youtube-button:hover {
    background-color: #074434;
    color: #FFF6E7;
}
.slider {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .slider img {
    width: auto;
    height: 100%;
    flex: 0 0 auto;
    margin-right: 10px;
  }

  @import url("https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.highcharts-figure {
    margin: 0;
}

#play-controls {
    max-width: 1000px;
    margin: 1em auto;
}

#container {
    height: 900px;
    max-width: 1000px;
    margin: 0 auto;
}

#play-pause-button {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgba(2, 117, 255, 1);
    border-radius: 25px;
    color: white;
    background-color: rgba(2, 117, 255, 1);
    transition: background-color 250ms;
}

#play-pause-button:hover {
    background-color: rgba(2, 117, 255, 0.5);
}

#play-range {
    transform: translateY(2.5px);
    width: calc(100% - 90px);
    background: #f8f8f8;
}
