/* Estilos generales */
body {
    margin: 0;
    font-family: 'Arsenal', sans-serif;
}

/* Estilos del header */
header {
    background-color: #074434;
    color: #FFF6E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #FFF6E7;
    font-weight: bold;
}

/* Estilos del banner */
.banner-container {
    cursor: pointer;
}

.banner {
    width: 100%;
    height: auto;
}

/* Estilos de las secciones */
.section {
    padding: 20px;
    text-align: center;
}

/* Estilos del footer */
footer {
    background-color: #074434;
    padding: 20px;
    text-align: center;
    color: #FFF6E7;
    font-size: 14px;
    position: relative;
}

.footer-logo img {
    max-width: 80px;
    height: auto;
}

.footer-text {
    font-size: 12px;
    margin: 10px 0;
}

.youtube-button {
    padding: 10px;
    background-color: #FFF6E7;
    color: #074434;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .nav-list {
        display:
