body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: darkgreen;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del header */
    justify-content: center; /* Centra horizontalmente el contenido del header */
}

h1 {
    margin: 0;
    color: white;
    margin-left: 10px; /* Espacio entre el isotipo y el título */
}

.site-isotipo {
    width: 50px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

.green-bg {
    background-color: darkgreen;
}

.white-bg {
    background-color: white;
    color: darkgreen;
}

.green-text {
    color: darkgreen;
}

.white-text {
    color: white;
}

#color-btn {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#color-btn:hover {
    background-color: white;
    color: darkgreen;
}

.site-image {
    width: 100%;
    margin-top: 20px;
}

}
canvas {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }


